main{
    min-height: 70vh;
    width: 60vw;
    display:inline-block;
    flex-direction: column;
    justify-content: space-around;
    align-content:space-evenly;
    margin-left:5vw;

}

.section{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    width:100%;
    flex-wrap:wrap;
    height:auto;
    margin-bottom: 10vh;
}

section h4{
    width:100%;
    margin: 10px 10px;
}

.Latest-Release-element{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height:auto;
    width:45%;
    margin:10px;

}




.Latest-Release-element-left p{
    height:30px;
    margin-left:10px;

}


.Latest-Release-element-right{
    display: flex;
    flex-direction: row;
    flex-grow :1;
    justify-content: space-between;
    height:30px;
    margin-left:10px;

}

@media screen and (max-width:600px) {

    .section{
        width: 70%;
    }

    .Latest-Release-element{
        width:100%;
    }
    
}