#stations{
    width:100%;
    /* background:#14145d; */
}

.stations-elements{
   
    width:100%;

   
}


.stations-elements-right{
    flex-grow:1;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    flex-wrap: wrap;


}

.stations-elements-right img{
    border-radius:50%;

}

.stations-elements-right-item{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}

.stations-elements-right-item p{

margin-left:25px;
}
